.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.Link_navi {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.Link_navi:hover {
  color: white;
  background: #00000099;
}
.Link_navi_orig {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  background: white;
}
.Link_navi_span {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  cursor: default;
}
