.liniya {
  background: black;
  width: 142%;
  height: 75%;
  left: -555px;
  top: 75px;
  position: absolute;
  opacity: 0.4;
}
.position {
  position: absolute;
  top: 70px;
  left: 505px;
  color: white;
}
section {
  position: relative;
}
.poster {
  position: relative;
  left: 120px;
  top: 0px;
  border-radius: 15px;
}
.tagline {
  font-style: italic;
}
