.reiting {
  background: url(../../assets/ticket.svg);
  width: 50px;
  height: 50px;
  left: 30px;
  background-size: cover;
  position: absolute;
}
.average {
  position: absolute;
  color: black;
  left: 11px;
  top: 14px;
  font-weight: 600;
}

.poster_link {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.tooltip {
  position: relative;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 76px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
